div {
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: darkorange;
  border: solid;
  border-radius: 10%;
}

div:hover {
  transform: rotate(90deg);
  transition-property: transform;
  transition-duration: 1s, 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

@keyframes red1anim {
  0% {
    background-color: darkblue;
    transform: rotate(180deg);
  }
  70% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}

#red1 {
  left: 100px;
  top: 100px;
  background-color: red;
  animation-name: red1anim;
  animation-duration: 3s;
  animation-timing-function: linear;
}

#red2 {
  left: 204px;
  top: 100px;
  background-color: green;
}

#red3 {
  left: 308px;
  top: 100px;
  background-color: yellow;
}

#yellow1 {
  left: 100px;
  top: 204px;
  background-color: green;
}

#yellow2 {
  left: 204px;
  top: 204px;
  background-color: green;
}

#yellow3 {
  left: 308px;
  top: 204px;
  background-color: red;
}

#blue1 {
  left: 100px;
  top: 308px;
  background-color: green;
}

#blue2 {
  left: 204px;
  top: 308px;
  background-color: yellow;
}

#blue3 {
  left: 308px;
  top: 308px;
  background-color: red;
}
