div {
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: darkorange;
  border: solid;
  border-radius: 10%;
}

div:hover {
  transform: rotate(90deg);
  transition-property: transform;
  transition-duration: 1s, 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

/*@keyframes red1anim {
  0% {
    background-color: darkblue;
  }
  30% {
    background-color: rgba(255, 0, 0, 0.432);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.432);
  }
}*/

#red1 {
  left: 100px;
  top: 100px;
  background-color: darkblue;
  animation-name: red1anim;
  animation-duration: 10s;
  animation-timing-function: linear;
}

#red2 {
  left: 200px;
  top: 100px;
  background-color: green;
}

#red3 {
  left: 300px;
  top: 100px;
  background-color: yellow;
}

#yellow1 {
  left: 100px;
  top: 200px;
  background-color: green;
}

#yellow2 {
  left: 200px;
  top: 200px;
  background-color: green;
}

#yellow3 {
  left: 300px;
  top: 200px;
  background-color: red;
}

#blue1 {
  left: 100px;
  top: 300px;
  background-color: green;
}

#blue2 {
  left: 200px;
  top: 300px;
  background-color: yellow;
}

#blue3 {
  left: 300px;
  top: 300px;
  background-color: red;
}
